# Interim project

# Importing/installing packages

In [24]:
 #provides functions for interacting with the operating system 
import numpy as np
import pandas as pd
from matplotlib import pyplot as plt 
import seaborn as sns

%matplotlib inline

np.set_printoptions(formatter={'float_kind': '{:f}'.format})

#to increase the size of sns plots
sns.set(rc={'figure.figsize':(8,6)})

#ARIMA 
from statsmodels.tsa.arima_model import ARIMA
from statsmodels.tsa.api import ExponentialSmoothing, SimpleExpSmoothing, Holt
import pmdarima as pm
from pmdarima.model_selection import train_test_split
import itertools
import warnings
warnings.filterwarnings('ignore')

#installing auto arima
#pip install--user pmdarima

In [9]:
pip install pypyodbc

Requirement already satisfied: pypyodbc in c:\users\afnan\anaconda3\lib\site-packages (1.3.6)
Requirement already satisfied: setuptools in c:\users\afnan\anaconda3\lib\site-packages (from pypyodbc) (63.4.1)
Note: you may need to restart the kernel to use updated packages.

In [25]:
########### Getting the file from sql server#################

import pypyodbc as podbc

conn2 = podbc.connect("Driver= {SQL Server Native Client 11.0};"
                      "Server=LAPTOP-AOP7F2HP;"
                      "Database=AdventureWorks2019;"
                      "Trusted_Connection=yes;")

#rynning the SQL qurey i need

SQL_Query=pd.read_sql_query ('''SELECT * FROM [dbo].[RegionalSales]''', conn2)

#conn.close()

#Viz
SQL_Query.head()

        name     salesytd  saleslastyear
0  Northwest   7887186.79     3298694.49
1  Northeast   2402176.85     3607148.94
2    Central   3072175.12     3205014.08
3  Southwest  10510853.87     5366575.71
4  Southeast   2538667.25     3925071.43

Note: you may need to restart the kernel to use updated packages.

ERROR: Could not find a version that satisfies the requirement OS (from versions: none)
ERROR: No matching distribution found for OS